[Desktop Entry]
Name=Notepad
Comment=A lightweight tabbed text editor
Exec=notepad %F
Icon=accessories-text-editor
Terminal=false
Type=Application
Categories=Utility;TextEditor;
Keywords=text;editor;notepad;
StartupNotify=true
MimeType=text/plain;text/markdown;text/csv;text/x-log;application/json;application/xml;text/xml;application/x-shellscript;text/x-rust;text/x-python;text/x-c;text/x-c++;text/x-java;text/x-makefile;text/x-toml;text/html;text/css;application/javascript;
